#homepage-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}
.homepage-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.homepage-lijn {
    position: absolute;
    width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
        width: 100%;
    }
}
.homepage-cirkel {
    position: absolute;
    width: 5vw;
    top: 75%;
    left: 20%;
    transform: translate(-75%, -20%);
    img {
        width: 100%;
    }
}
.homepage-kruis {
    position: absolute;
    width: 5vw;
    top: 25%;
    left: 85%;
    transform: translate(-25%, -85%);
    img {
        width: 100%;
    }
}
.ux-logo {
    position: absolute;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    filter: brightness(0.8);
    width: 14vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
        width: 100%;
    }
    &:hover {
        filter: brightness(1);
        transition: ease-in-out 350ms;
        cursor: pointer;
    }
}

/// VACATURES-BUTTON
.content-btn-vacatures {
    position: absolute;
    display: flex;
    opacity: 0;
    left: 50%;
    top: 15%;
    -webkit-transform: translate(-50%, 15%);
    -moz-transform: translate(-50%, 15%);
    transform: translate(-50%, 15%);
    transition: ease-in-out 1750ms;
    z-index: -1;
    svg {
        width: 2vw;
        height: 2vw;
        margin-top: 1.3rem;
    }
}
.content:hover .content-btn-vacatures {
    opacity: 1;
    z-index: 1;
    svg {
        &:hover {
            filter: invert(0.85);
            // fill: #0829e692;
            transition: ease-in-out 350ms;
        }
    }
}
#homepage-container > div > div.content > div.content-btn-vacatures > h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.04rem;
    margin: 0;
}
/// SERVICES-BUTTON
.content-btn-services {
    position: absolute;
    display: flex;
    opacity: 0;
    left: 38%;
    bottom: 20%;
    -webkit-transform: translate(-38%, -20%);
    -moz-transform: translate(-38%, -20%);
    transform: translate(-38%, -20%);
    transition: ease-in-out 1750ms;
    z-index: -1;
    svg {
        width: 2vw;
        height: 2vw;
        margin-bottom: 1.3rem;
    }
}
.content:hover .content-btn-services {
    opacity: 1;
    z-index: 1;
    svg {
        &:hover {
            filter: invert(0.85);
            // fill: #0829e692;
            transition: ease-in-out 350ms;
        }
    }
}
#homepage-container > div > div.content > div.content-btn-services > h3 {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.04rem;
    margin: 0;
}
/// CONTACT-BUTTON
.content-btn-contact {
    position: absolute;
    display: flex;
    opacity: 0;
    right: 38%;
    bottom: 20%;
    -webkit-transform: translate(38%, -20%);
    -moz-transform: translate(38%, -20%);
    transform: translate(38%, -20%);
    transition: ease-in-out 1750ms;
    z-index: -1;
    svg {
        width: 2vw;
        height: 2vw;
        margin-bottom: 1.3rem;
    }
}
.content:hover .content-btn-contact {
    opacity: 1;
    z-index: 1;
    svg {
        &:hover {
            filter: invert(0.85);
            // fill: #0829e692;
            transition: ease-in-out 350ms;
        }
    }
}
#homepage-container > div > div.content > div.content-btn-contact > h3 {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.04rem;
    margin: 0;
}
