#vacaturesenprojecten-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}
.vacaturesenprojecten-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        position: relative;
        text-align: center;
        font-size: 27px;
        font-weight: 400;
        letter-spacing: 0.3rem;
        top: 3rem;
        // margin-top: 4rem;
    }
}
.vacaturesenprojecten-lijn {
    position: absolute;
    width: 70vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    img {
        width: 100%;
    }
}
.vacaturesenprojecten-cirkel {
    position: absolute;
    width: 5.2vw;
    left: 10%;
    top: 65%;
    transform: translate(-10%, 65%);
    img {
        width: 100%;
    }
}
.vacaturesenprojecten-kruis {
    position: absolute;
    width: 6vw;
    left: 85%;
    top: 25%;
    transform: translate(-85%, -25%);
    img {
        width: 100%;
    }
}
.vacaturesenprojecten-card-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    img {
        width: 140px;
        cursor: pointer;
    }
    img:hover {
        // filter: invert(0.85);
        // filter: brightness(1.5);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 400ms ease-in-out;
    }
}
.vacatures {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    h3 {
        text-align: center;
        font-size: 19px;
        font-weight: 400;
        letter-spacing: 0.12rem;
        margin-top: 1rem;
    }
}
.projecten {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    h3 {
        text-align: center;
        font-size: 19px;
        font-weight: 400;
        letter-spacing: 0.12rem;
        margin-top: 1rem;
    }
}
