#ing-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}
.ing-page-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        position: relative;
        text-align: center;
        font-size: 27px;
        font-weight: 400;
        letter-spacing: 0.3rem;
        top: 3rem;
        // margin-top: 4rem;
    }
}
.ing-page-cirkel {
    position: absolute;
    width: 5vw;
    left: 95%;
    bottom: 10%;
    transform: translate(-95%, 10%);
    img {
        width: 100%;
    }
}
.ing-page-kruis {
    position: absolute;
    width: 5.5vw;
    left: 15%;
    bottom: 25%;
    transform: translate(-15%, 25%);
    img {
        width: 100%;
    }
}
.ing-card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10vw;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    img {
        width: 100%;
    }
    h2 {
        position: absolute;
        color: whitesmoke;
        font-size: 16px;
        width: 60%;
    }
}
.ing-tekst-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -72%);
}
.ing-page-tekst {
    position: relative; ///was absolute
    text-align: justify;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.1rem;
}
.button-aanvraag-ing {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 75%);
    -webkit-transform: translate(-50%, 75%);
    width: 7rem;
    height: 40px;
    border-radius: 10px;
    // background: #040BC5;
    background: #040bc5 linear-gradient(to right, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0) 100%);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    &:hover {
        opacity: 1;
        color: rgb(177, 127, 223);
        transition: 400ms ease-in-out;
    }
}
