#projecten-page-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}
.projecten-page-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        position: relative;
        text-align: center;
        font-size: 27px;
        font-weight: 400;
        letter-spacing: 0.3rem;
        top: 3rem;
        // margin-top: 4rem;
    }
}
.projecten-page-cirkel {
    position: absolute;
    width: 4.2vw;
    left: 10%;
    top: 25%;
    transform: translate(-10%, -25%);
    img {
        width: 100%;
    }
}
.projecten-page-kruis {
    position: absolute;
    width: 6vw;
    left: 15%;
    top: 85%;
    transform: translate(-15%, -85%);
    img {
        width: 100%;
    }
}
.ux-logo-upside-down-projecten {
    position: absolute;
    width: 10vw;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    img {
        width: 100%;
    }
}
.projecten-card-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    img {
        width: 170px;
        cursor: pointer;
    }
}
.projecten-card-container .card-p {
    position: relative;
    display: flex;
    justify-content: center;
    width: 26%;
    margin: 10px 10px;
    h2 {
        position: absolute;
        text-align: center;
        // align-self: center;
        color: whitesmoke;
        font-size: 16px;
        width: 60%;
        cursor: pointer;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
